resume.aux
resume.log
resume.out
resume.synctex.gz
Ritik_Ghanshani_Resume.synctex.gz
Ritik_Ghanshani_Resume.out
Ritik_Ghanshani_Resume.log
Ritik_Ghanshani_Resume.aux
Ritik_Ghanshani_Resume.fdb_latexmk
Ritik_Ghanshani_Resume.fls
Ritik_Ghanshani_Resume.xdv
Ritik_Ghanshani_Resume_Grad_School.synctex.gz
Ritik_Ghanshani_Resume_Grad_School.out
Ritik_Ghanshani_Resume_Grad_School.log
Ritik_Ghanshani_Resume_Grad_School.aux
Ritik_Ghanshani_Resume_Grad_School.fdb_latexmk
Ritik_Ghanshani_Resume_Grad_School.fls
Ritik_Ghanshani_Resume_Grad_School.xdv
